<aside>
  <div class="user">
    <img src="/assets/images/face.jpg" alt="face" />
    <div>
      <p>Do it!</p>
      <h3>Habibus</h3>
    </div>
  </div>
  <hr />
  <div class="todo-options">
    <div class="today item">
      <img src="/assets/images/calendar.svg" alt="calendar-icon" />
      <div class="edit">
        <h4>Today tasks</h4>
        <button type="button" (click)="changeEdit()">
          <img src="/assets/images/edit.svg" alt="edit" />
        </button>
      </div>

      <div class="today-filters">
        <ul>
          @for (tag of tags; track tag.id) {
          <li @enterAnimation>
            <p class="dot" [style.background-color]="tag.color"></p>
            <p>{{ tag.name | titlecase }}</p>
            @if(isEdit){
            <button type="button" (click)="onDeleteTag(tag.id)">
              <span>✖️</span>
            </button>
            }
          </li>
          } @if(tags.length<6){
          <li class="create" @enterAnimation>
            <input [(ngModel)]="color" type="color" />

            <input
              [(ngModel)]="tagName"
              type="text"
              maxlength="10"
              placeholder="Create new"
            />
            @if(tagName.length>0){
            <div class="add-options">
              <button (click)="onSubmit()" type="button">✔️</button>
              <button (click)="resetTagName()" type="button">
                <span>✖️</span>
              </button>
            </div>
            }
          </li>
          }
        </ul>
      </div>
    </div>
    <div class="settings item">
      <img src="/assets/images/settings.svg" alt="settings" />
      <h4>Settings</h4>
    </div>
  </div>
</aside>
