<aside>
  <div class="user">
    <img src="/assets/images/face.jpg" alt="face" />
    <div>
      <p>Do it!</p>
      <h3>Habibus</h3>
    </div>
  </div>
  <hr />
  <div class="todo-options">
    <div class="today item">
      <img src="/assets/images/calendar.svg" alt="calendar-icon" />
      <h4>Today tasks</h4>
      <div class="today-filters">
        <ul>
          <li>
            <p class="dot"></p>
            <p>Personal</p>
          </li>
          <li>
            <p class="dot"></p>
            <p>Work</p>
          </li>
          <li>
            <p class="dot"></p>
            <p>Example</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="settings item">
      <img src="/assets/images/settings.svg" alt="settings" />
      <h4>Settings</h4>
    </div>
  </div>
</aside>
