img {
  width: 2rem;
  height: 2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.clock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.25rem;
}

.hours,
.minutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours input,
.minutes input {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

.colon {
  position: relative;
  transform: translateY(5px);
  margin-left: 0.2rem;
}

span {
  font-size: x-large;
}

form {
  position: absolute;
  bottom: -18rem;
  left: -8rem;
  width: auto;
  height: auto;
  background-color: #e9ecef;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 0.75rem;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.outline {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 2;
  visibility: hidden;
}

.visible-outline {
  visibility: visible;
}
