@if (isVisible) {
<div class="outline" (click)="close()" @inAndOut></div>

<div class="settings" @inAndOut>
  <h1>Settings</h1>
  <div class="settings-section">
    <div class="settings-header">
      <h3>Profile</h3>
      @if(!isEditProfile){
      <button (click)="onEdit()" type="button">Edit</button>
      }
    </div>
    <div class="settings-content">
      <div class="image-section">
        <div class="image-container">
          <img
            class="profile-picture"
            [src]="previewFile != undefined ? previewFile : isPhoto"
            alt="Profile picture"
          />
          <input
            (change)="onFileChange($event)"
            type="file"
            name="photo"
            id="photo"
          />
          @if(isLoading){
          <div class="loading">
            <p>Loading...</p>
          </div>
          }
        </div>
        @if(previewFile){
        <div class="buttons">
          <button class="submit" (click)="onPhotoUpload()" type="button">
            Submit
          </button>
          <button class="cancel" (click)="cancel()" type="button">
            Cancel
          </button>
        </div>
        }
      </div>

      <div>
        @if(!isEditProfile){
        <p>{{ user?.username }}</p>
        <p>{{ user?.email }}</p>
        }@else {
        <form (ngSubmit)="updateProfile()">
          <div class="form-module">
            <label for="username">Username</label>
            <input
              [(ngModel)]="username"
              type="text"
              name="username"
              id="username"
              required
            />
          </div>
          <div class="form-module">
            <label for="email">Email</label>
            <input
              disabled
              [value]="user?.email"
              type="text"
              name="email"
              id="email"
            />
          </div>
          <div class="buttons">
            <button type="submit" class="submit">
              {{ isUpdating ? "Saving..." : "Save" }}
            </button>
            <button type="button" (click)="cancelEdit()" class="cancel">
              Cancel
            </button>
          </div>
        </form>
        }
      </div>
    </div>
  </div>
</div>
}
