body {
  width: 100vw;
  height: 100dvh;
}

main {
  height: 100%;
  width: 100%;
  background-color: #1f3d5f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.content {
  width: 70%;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
  display: grid;
  gap: 1;
  grid-template-columns: 40fr 60fr;
}

.left-panel {
  background-color: #274c77;
  padding: 0.7rem;
  border-radius: 0.5rem;
  color: white;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

form div input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.right-panel div p {
  margin-top: 0.75rem;
  font-weight: bold;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: #274c77;
  color: white;
  border: none;
  border-radius: 0.5rem;
}
