<main>
  <div class="content">
    <div class="left-panel">
      <p>TaskBuddy</p>
      <div>
        <h1>Organize Your Life with TaskBuddy</h1>
        <p>
          Discover the ultimate tool for staying on top of your tasks and
          achieving your goals.
        </p>
      </div>
      <app-carousel />
    </div>

    <div class="right-panel">
      <div>
        <h2>Sign up</h2>
        <p>Have an already account? <a>Log in</a></p>
      </div>
      <form>
        <div>
          <label for="email">email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div>
          <label for="password">password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div>
          <label for="username">username</label>
          <input type="text" name="username" id="username" />
        </div>
        <button class="btn">Create account</button>
      </form>
    </div>
  </div>
</main>
