<main>
  <div class="heading">
    <h3>Today main focus</h3>
    <h2>Design your day</h2>
  </div>
  <form>
    <div class="dots">
      <p class="dot"></p>
      <p class="dot"></p>
      <p class="dot"></p>
    </div>

    <input type="text" placeholder="What is your next task?" />

    <div class="icons">
      <app-clock />
      <app-calendar />
    </div>
  </form>

  <div class="tasks">
    <ul>
      <li>
        <p class="dot"></p>
        <p class="task-content">Lorem ipsum</p>
        <p class="task-time">8:00AM</p>
        <img src="/assets/images/eclipse.svg" alt="eclipse" />
      </li>
      <li>
        <p class="dot"></p>
        <p class="task-content">Lorem ipsum</p>
        <p class="task-time">8:00AM</p>
        <img src="/assets/images/eclipse.svg" alt="eclipse" />
      </li>
      <li>
        <p class="dot"></p>
        <p class="task-content">Lorem ipsum</p>
        <p class="task-time">8:00AM</p>
        <img src="/assets/images/eclipse.svg" alt="eclipse" />
      </li>
      <li>
        <p class="dot"></p>
        <p class="task-content">Lorem ipsum</p>
        <p class="task-time">8:00AM</p>
        <img src="/assets/images/eclipse.svg" alt="eclipse" />
      </li>
    </ul>
  </div>
</main>
