/* -------------GENERAL--------------------- */
* {
  /* color: #e9ecef; */
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #e9ecef;
}
h2 {
  font-size: 3rem;
  color: #e9ecef;
}

main {
  background-color: #274c77;
  width: 100%;
  height: 100%;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  gap: 3rem;
}

/* --------------------------------------------- */
/* ------------------------FORM------------------ */

form input {
  width: 60%;
  padding: 1.25rem;
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
  border-radius: 1rem;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e9ecef;
  border-radius: 1rem;
  justify-content: center;
}

form p {
  color: black;
}

.dots {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.25rem;
}

.icons {
  display: flex;
  gap: 0.25rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 2rem;
  height: 2rem;
}

/* ------------------------------------------------ */
/* ----------------------TASKS-------------------- */

.tasks {
  width: 100%;
}

.tasks ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tasks ul li {
  width: 95%;
  background-color: #e9ecef;
  border-radius: 1rem;
  padding: 1.25rem;
  border: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.task-content,
.task-time,
.task-date {
  font-size: 1.5rem;
}

.task-content {
  flex-grow: 1;
}

.hide {
  position: absolute;
  top: -2rem;
  left: -1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.dot {
  cursor: pointer;
}

.dot-selected {
  border: 1px solid black;
}

.dot:hover .hide {
  visibility: visible;
  opacity: 1;
  background-color: #e9ecef;
  padding: 0.2rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

/* ------------------------------------------------ */

/* -------------------RESPONSIVE------------------- */

@media (min-width: 1208px) {
  main {
    padding: 12rem;
  }
}

@media (min-width: 1450px) {
  main {
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

@media (min-width: 1570px) {
  main {
    padding-left: 36rem;
    padding-right: 36rem;
  }
}

@media (max-width: 640px) {
  main {
    padding: 1rem;
  }

  form input {
    width: 70%;
    padding: 1rem;
  }

  .dot {
    width: 1.6rem;
    height: 1.6rem;
    gap: 1.2rem;
  }
}

/* ------------------------------------------------ */
