<main>
  <div class="heading">
    <h3>Today main focus</h3>
    <h2>Design your day</h2>
  </div>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="dots">
      @for (tag of tags; track tag.id) {
      <button
        (click)="selectTag(tag)"
        [class.dot-selected]="selectedTag === tag ? true : false"
        type="button"
        class="dot"
        [style.background-color]="tag.color"
      >
        <span class="hide">{{ tag.name | titlecase }}</span>
      </button>
      }
    </div>
    <!-- <div class="select-container">
      <select
        [(ngModel)]="selectedTagSelect"
        class="mobile-dots select-hidden"
        name="dots"
        id="dots"
        (click)="what()"
      >
        @for(tag of tags; track tag.id){
        <option [value]="tag.id" [style.background-color]="tag.color">
          <p>{{ tag.name | titlecase }}</p>
        </option>

        }
      </select>
      <div class="dot-select"></div>
    </div> -->

    <input
      type="text"
      [(ngModel)]="content"
      placeholder="What is your next task?"
      name="content"
      required
    />

    <div class="icons">
      @if(content !==''){
      <button>
        <img src="/assets/images/checkmark-outline.svg" alt="checkmark" />
      </button>
      }

      <input required type="time" name="time" id="time" [(ngModel)]="time" />
      <input required [(ngModel)]="date" type="date" name="date" id="date" />
    </div>
  </form>

  <div class="tasks">
    <ul>
      @for (todo of todos; track todo.id) {
      <li @enterAnimation [class.completed]="todo.done">
        <p class="dot" [style.background-color]="findTag(todo.tagId)"></p>
        <p class="task-content">{{ todo.content }}</p>
        <p class="task-date">
          {{ todo.date | date }}
        </p>
        <p class="task-time">
          {{ todo.time }}
        </p>
        <button>
          @if(todo.done){
          <button type="button" (click)="completeTask(todo.id)">
            <img src="/assets/images/checked.svg" alt="done" />
          </button>

          }@else {
          <button type="button" (click)="completeTask(todo.id)">
            <img src="/assets/images/eclipse.svg" alt="eclipse" />
          </button>
          }
        </button>
      </li>
      }
    </ul>
  </div>
</main>
