<main>
  <div class="heading">
    <h3>Today main focus</h3>
    <h2>Design your day</h2>
  </div>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="select-container">
      @if (!selectedTag) {
      <div class="no-tag">
        <button type="button">
          <img
            (click)="showSelectTag()"
            src="/assets/images/chevron-downe.svg"
            alt="arrow-down"
          />
        </button>
      </div>
      }@else {
      <button (click)="showSelectTag()" type="button">
        <p class="dot" [style.background-color]="selectedTag.color"></p>
      </button>

      }
    </div>

    <input
      type="text"
      [(ngModel)]="content"
      placeholder="What is your next task?"
      name="content"
      required
    />

    <div class="icons">
      @if(content !==''){
      <button>
        <img src="/assets/images/checkmark-outline.svg" alt="checkmark" />
      </button>
      }

      <div class="date-container mobile">
        <input
          required
          [(ngModel)]="date"
          type="date"
          name="date"
          id="date"
          #dateInput
        />
        <label (click)="openDatePicker(dateInput)" for="date">
          <img
            src="/assets/images/calendar-clear-outline.svg"
            alt="calendar-icon"
          />
        </label>
      </div>
    </div>
  </form>

  <div class="tasks">
    <ul>
      @for (todo of todos; track todo.id) {
      <li @enterAnimation [class.completed]="todo.done">
        <p class="dot" [style.background-color]="findTag(todo.tagId)"></p>
        <p class="task-content">{{ todo.content }}</p>
        <p class="task-date">
          {{ todo.date | date }}
        </p>
        <button>
          @if(todo.done){
          <button type="button" (click)="completeTask(todo.id)">
            <img src="/assets/images/checked.svg" alt="done" />
          </button>

          }@else {
          <button type="button" (click)="completeTask(todo.id)">
            <img src="/assets/images/eclipse.svg" alt="eclipse" />
          </button>
          }
        </button>
      </li>
      }
    </ul>
  </div>
</main>
